<li class="game-over-screen-item">
	<span class="bg-wrapper" style="background-color: {{bgColor}}; color: {{textColor}};">
		<header class="name">{{name}} <span class="won-or-lost">{{wonOrLost}}</span></header>
		<div class="reason">{{reason}}</div>
	</span>
</li>